<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>

    <div class = "white-bg">
        <% for (var i =0; i< result.length; i++){ %>
                <div class="list-box">
                    <h4>
                        <%= JSON.stringify(result[i])  %>
                        <a href="/chat/detail/<%= result[i]._id %>">채팅방 <%= i %></a>
                    </h4>
                    <p><%= result[i].content %></p>
                    <p> 채팅방 설명~~</p>
                </div>
        <% } %>

    </div>
    
    <script>
    
    </script>
  
  </body>
</html>