<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    <%= JSON.stringify(result) %>
    <div class="detail-bg">
        <h4><%= result.title %></h4>
        <p><%= result.content %></p>
        <hr style="margin-top: 60px">
        <div>
            <p><strong>작성자</strong> 댓글내용</p>
        </div>
        <form action="/comment" method="post">
            <input name="content">
            <input name="parentId" value="<%= result._id %>" style="display: none;">
            <button type="submit">댓글작성</button>
        </form>
        <% for(let i=0; i< result2.length; i++) { %>
            <p>
                <strong><%= result2[i].write %></strong>
                <%= result2[i].content %>
            </p>
        <% } %>
    </div>
    
  </body>
</html>