<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>

    <input class="search">    
    <button class="search-send">검색</button>



    <% for (var i =0; i< 글목록.length; i++){ %>
        <div class="white-bg">
            <div class="list-box">
                <h4>
                    <a href="/detail/<%= 글목록[i]._id %>"><%= 글목록[i].title %></a>
                    <a href="/edit/<%= 글목록[i]._id %>">✏️</a>
                    <span class="delete" data-id="<%= 글목록[i]._id %>">🗑️</span>
                </h4>
                <p><%= 글목록[i].content %></p>
            </div>
        </div> 
    <% } %>

    <a href="/list/next/<%= 글목록[글목록.length-1]._id %>">다음</a>
    
    <script>
        // console.log('<%= 글목록.length %>')
        for(let i= 0; i<'<%= 글목록.length  %>';i++){
            document.querySelectorAll('.delete')[i]
            .addEventListener('click', function(e){
                // console.log('e.target.dataset.id',e.target.dataset)
                // 서버 삭제요청
                fetch('/delete?docid=' + e.target.dataset.id, {
                    method : 'DELETE'                        
                })
                // .then((r)=>{
                //     if(r.status == 200){
                //         return r.json()
                //     }else{
                //         //서버가 에러코드 전송시 실행할 코드
                //     }
                // })
                .then((r)=> r.text())  // 왜 괄호가 없지?
                .then((result)=>{
                    //성공시 실행할 코드
                    // console.log(result)
                    //삭제완료시 상위 요소 안보이게 하기
                    e.target.parentElement.parentElement.style.display = 'none'
                })
                .catch((error)=>{
                    //인터넷문제 등으로 실패시 실행할 코드
                    console.log(error)
                })
                
            })
        }
    </script>
  
  </body>
</html>